.video__title {
  font-weight: 700;
  font-size: 17px;
}

.video__creator,
.video__stats {
  color: rgb(96, 96, 96);
  font-size: 15px;
  padding: 0;
}


.video__description {
  display: grid;
grid-template-columns: 50px 1fr;
}

.video__container {
    width: 300px;
}

.thumbnail {
    width: 100%;
}
.profile__picture {
  margin-top: 15px; 
width: 30px;
border-radius: 25px;
}

.videos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 5px;
}
.video__creator {
transform: translateY(12px);
}